# Exclude exported CurseForge zip files
# *.zip

# Exclude exported Modrinth modpacks
*.mrpack

# Exclude executable files
*.exe

# Minecraft / Packwiz
modpack/saves/

# OS specific files
.DS_Store
Thumbs.db